[run]
branch = True
source =
    gordon
omit = gordon/interfaces.py

[paths]
source =
   gordon
   .tox/*/lib/python*/site-packages/gordon
   .tox/pypy/site-packages/gordon

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
