# Gordon Core Config
[core]
plugins = ["foo.plugin"]
debug = false
metrics = "ffwd"

[core.route]
consume = "enrich"
enrich = "publish"
publish = "cleanup"

[core.logging]
level = "info"
handlers = ["syslog"]
format = "%(created)f %(levelno)d %(message)s"
date_format = "%Y-%m-%dT%H:%M:%S"
address = ["10.99.0.1", "514"]


# Plugin Config
["foo"]
# global config to the general "foo" package
bar = baz

["foo.plugin"]
# specific plugin config within "foo" package
baz = bla
