include *.txt LICENSE tox.ini .coveragerc *.rst *.toml.example OWNERS
recursive-include gordon *.py
recursive-include tests *.py *.toml

# Exclude service-specific config
exclude gordon*.toml

# Documentation
include docs/Makefile
recursive-include docs *.png
recursive-include docs *.ico
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build

# No need for GitHub-specific files.
prune .github
exclude .travis.yml
